.wrapper {
    min-height: 100%;
    background: url("../../assets/image/christmas_texture2622.jpg") no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
}

.users {
    position: relative;
    top: 300px;
    height: 100%;
    opacity: 0.95;
    border-radius: 25px;
    padding: 20px 50px;
    min-height: 100%;
    background: url("../../assets/image/1610492462_29-p-novogodnii-svetlii-fon-52.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0 0 70px 20px rgb(218, 200, 99);
    & h1 {
        text-align: center;
    }
}

table {
    border-spacing: 0;
}

tbody tr:hover {
    background: rgba(0, 38, 255, 0.541);
    box-shadow: 0 0 10px 1px rgba(0, 38, 255, 0.541);
    color: #fff;
}

th,
tr {
    font-size: 16px;
    padding: 10px 20px;
    &:first-child {
        padding: 0 20px;
    }
}

.age {
    text-align: center;
}

td {
    padding: 25px 10px;
    &:first-child {
        padding-left: 0;
    }
}